<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

	<title>@ViewData["Title"] - Bil School</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">
	<link rel="stylesheet" href="~/css/aos.css">
	<link rel="stylesheet" href="~/css/ionicons.min.css">
	<link rel="stylesheet" href="~/css/flaticon.css">
	<link rel="stylesheet" href="~/css/icomoon.css">
	<link rel="stylesheet" href="~/css/style.css">

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SchoolWeb.styles.css" asp-append-version="true" />
</head>

<body>
	<div class="bg-top navbar-light">
		<div class="container">
			<div class="row no-gutters d-flex align-items-center align-items-stretch">
				<div class="col-md-4 d-flex align-items-center py-4">
					<a class="navbar-brand" asp-action="Index">Bil. <span>School</span></a>
				</div>
				<div class="col-lg-8 d-block">
					<div class="row d-flex">
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									class="icon-paper-plane"></span></div>
							<div class="text">
								<span>Email</span>
								<span>bilschool@edu.com</span>
							</div>
						</div>
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									class="icon-phone2"></span></div>
							<div class="text">
								<span>Call</span>
								<span>Call Us: +6281385420875</span>
							</div>
						</div>
						<div class="col-md topper d-flex align-items-center justify-content-end">
							<p class="mb-0 mr-1">
								<a href=""
									class="btn py-2 px-3 btn-outline-info d-flex align-items-center justify-content-center">
									<span>Sign Up</span>
								</a>
							</p>
							<p class="mb-0">
								<a href=""
									class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
									<span>Sign In</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container d-flex align-items-center px-4">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>
			<form action="#" class="searchform order-lg-last">
				<div class="form-group d-flex">
					<input type="text" class="form-control pl-3" placeholder="Search" required>
					<button type="submit" placeholder="" class="form-control search"><span
							class="ion-ios-search"></span></button>
				</div>
			</form>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item active"><a asp-action="Index" class="nav-link pl-0">Home</a></li>
					<li class="nav-item"><a asp-action="About" class="nav-link">About</a></li>
					<li class="nav-item"><a asp-action="Courses" class="nav-link">Courses</a></li>
					<li class="nav-item"><a asp-action="Staff" class="nav-link">Staff</a></li>
					<li class="nav-item"><a asp-action="Blog" class="nav-link">Blog</a></li>
					<li class="nav-item"><a asp-action="Contact" class="nav-link">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	@RenderBody()

	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6 col-lg-3">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Kayu Putih,
										Sirimau 97129, Ambon, Indonesia</span></li>
								<li><a href="tel://081385420875"><span class="icon icon-phone"></span><span
											class="text">+62 8138 5420 875</span></a></li>
								<li><a href="mailto:bil@education.com"><span
											class="icon icon-envelope"></span><span
											class="text">bilschool@edu.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">Recent Blog</h2>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(/images/image_1.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a asp-action="BlogInformation">Best practice to learn
										Programming Faster</a></h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> June 27, 2022</a>
									</div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-5 d-flex">
							<a class="blog-img mr-4" style="background-image: url(/images/image_2.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a asp-action="BlogInformation">.NET is the most popular
										Framework by Microsoft</a></h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> July 22, 2022</a>
									</div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 18</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="ftco-footer-widget mb-5 ml-md-4">
						<h2 class="ftco-heading-2">Links</h2>
						<ul class="list-unstyled">
							<li><a asp-action="Index"><span
										class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
							<li><a asp-action="About"><span
										class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
							<li><a asp-action="Courses"><span
										class="ion-ios-arrow-round-forward mr-2"></span>Courses</a></li>
							<li><a asp-action="Staff"><span
										class="ion-ios-arrow-round-forward mr-2"></span>Staff</a></li>
							<li><a asp-action="Blog"><span
										class="ion-ios-arrow-round-forward mr-2"></span>Blog</a></li>
							<li><a asp-action="Contact"><span
										class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">Subscribe Us!</h2>
						<form class="subscribe-form" method="post">
							<div class="form-group">
								<input type="text" class="form-control mb-2 text-center email" placeholder="Email"
									required>
								<input type="submit" value="Subscribe" class="form-control submit px-3">
							</div>
						</form>
					</div>
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>Copyright &copy; @(DateTime.Now.Year) Bil School All rights reserved

						@* <script>document.write(new Date().getFullYear());</script> *@
					</p>
				</div>
			</div>
		</div>
	</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
    <script src="~/js/App.js" type="module"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.easing.1.3.js"></script>
	<script src="~/js/jquery.waypoints.min.js"></script>
	<script src="~/js/jquery.stellar.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/aos.js"></script>
	<script src="~/js/jquery.animateNumber.min.js"></script>
	<script src="~/js/scrollax.min.js"></script>
	<script src="~/js/main.js"></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
