@{
  ViewData["Title"] = "Blog";
}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fox University - Free Bootstrap 4 Template by Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="~/css/animate.css">
  <link rel="stylesheet" href="~/css/owl.carousel.min.css">
  <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="~/css/magnific-popup.css">
  <link rel="stylesheet" href="~/css/aos.css">
  <link rel="stylesheet" href="~/css/ionicons.min.css">
  <link rel="stylesheet" href="~/css/flaticon.css">
  <link rel="stylesheet" href="~/css/icomoon.css">
  <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
  <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Blog</h1>
          <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index">Home <i
                  class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a asp-action="BlogInformation" class="block-20 d-flex align-items-end"
              style="background-image: url('/images/image_1.jpg');">
              <div class="meta-date text-center p-2">
                <span class="day">26</span>
                <span class="mos">June</span>
                <span class="yr">2022</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a asp-action="BlogInformation">Skills To Develop Your Child Memory</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <div class="d-flex align-items-center mt-4">
                <p class="mb-0"><a asp-action="BlogInformation" class="btn btn-primary">Read More <span
                      class="ion-ios-arrow-round-forward"></span></a></p>
                <p class="ml-auto mb-0">
                  <a href="#" class="mr-2">Admin</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 2</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a asp-action="BlogInformation" class="block-20 d-flex align-items-end"
              style="background-image: url('/images/image_2.jpg');">
              <div class="meta-date text-center p-2">
                <span class="day">2</span>
                <span class="mos">July</span>
                <span class="yr">2022</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a asp-action="BlogInformation">Skills To Develop Your Child Memory</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <div class="d-flex align-items-center mt-4">
                <p class="mb-0"><a asp-action="BlogInformation" class="btn btn-primary">Read More <span
                      class="ion-ios-arrow-round-forward"></span></a></p>
                <p class="ml-auto mb-0">
                  <a href="#" class="mr-2">Admin</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 8</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a asp-action="BlogInformation" class="block-20 d-flex align-items-end"
              style="background-image: url('/images/image_3.jpg');">

              <div class="meta-date text-center p-2">
                <span class="day">6</span>
                <span class="mos">January</span>
                <span class="yr">2022</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a asp-action="BlogInformation">Skills To Develop Your Child Memory</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <div class="d-flex align-items-center mt-4">
                <p class="mb-0"><a asp-action="BlogInformation" class="btn btn-primary">Read More <span
                      class="ion-ios-arrow-round-forward"></span></a></p>
                <p class="ml-auto mb-0">
                  <a href="#" class="mr-2">Admin</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 11</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a asp-action="BlogInformation" class="block-20 d-flex align-items-end"
              style="background-image: url('/images/image_4.jpg');">

              <div class="meta-date text-center p-2">
                <span class="day">13</span>
                <span class="mos">March</span>
                <span class="yr">2022</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a asp-action="BlogInformation">Skills To Develop Your Child Memory</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <div class="d-flex align-items-center mt-4">
                <p class="mb-0"><a asp-action="BlogInformation" class="btn btn-primary">Read More <span
                      class="ion-ios-arrow-round-forward"></span></a></p>
                <p class="ml-auto mb-0">
                  <a href="#" class="mr-2">Admin</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a asp-action="BlogInformation" class="block-20 d-flex align-items-end"
              style="background-image: url('/images/image_5.jpg');">
              <div class="meta-date text-center p-2">
                <span class="day">16</span>
                <span class="mos">June</span>
                <span class="yr">2022</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a asp-action="BlogInformation">Skills To Develop Your Child Memory</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <div class="d-flex align-items-center mt-4">
                <p class="mb-0"><a asp-action="BlogInformation" class="btn btn-primary">Read More <span
                      class="ion-ios-arrow-round-forward"></span></a></p>
                <p class="ml-auto mb-0">
                  <a href="#" class="mr-2">Admin</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a asp-action="BlogInformation" class="block-20 d-flex align-items-end"
              style="background-image: url('/images/image_6.jpg');">

              <div class="meta-date text-center p-2">
                <span class="day">25</span>
                <span class="mos">February</span>
                <span class="yr">2022</span>
              </div>
            </a>
            <div class="text bg-white p-4">
              <h3 class="heading"><a asp-action="BlogInformation">Skills To Develop Your Child Memory</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <div class="d-flex align-items-center mt-4">
                <p class="mb-0"><a asp-action="BlogInformation" class="btn btn-primary">Read More <span
                      class="ion-ios-arrow-round-forward"></span></a></p>
                <p class="ml-auto mb-0">
                  <a href="#" class="mr-2">Admin</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 9</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>

  <script src="~/js/jquery.min.js"></script>
  <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/jquery.easing.1.3.js"></script>
  <script src="~/js/jquery.waypoints.min.js"></script>
  <script src="~/js/jquery.stellar.min.js"></script>
  <script src="~/js/owl.carousel.min.js"></script>
  <script src="~/js/jquery.magnific-popup.min.js"></script>
  <script src="~/js/aos.js"></script>
  <script src="~/js/jquery.animateNumber.min.js"></script>
  <script src="~/js/scrollax.min.js"></script>
  <script src="~/js/main.js"></script>

</body>

</html>