@{
  ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="~/css/animate.css">
  <link rel="stylesheet" href="~/css/owl.carousel.min.css">
  <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="~/css/magnific-popup.css">
  <link rel="stylesheet" href="~/css/aos.css">
  <link rel="stylesheet" href="~/css/ionicons.min.css">
  <link rel="stylesheet" href="~/css/flaticon.css">
  <link rel="stylesheet" href="~/css/icomoon.css">
  <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
  <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Contact Us</h1>
          <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index">Home <i
                  class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i
                class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section contact-section">
    <div class="container">
      <div class="row d-flex contact-info">
        <div class="col-md-3 d-flex">
          <div class="bg-light align-self-stretch box p-4 text-center">
            <h3 class="mb-4">Address</h3>
            <p>Kayu Putih, Sirimau 97129, Ambon, Indonesia</p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="bg-light align-self-stretch box p-4 text-center">
            <h3 class="mb-4">Contact Number</h3>
            <p><a href="tel://081385420875">+62 8138 5420 875</a></p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="bg-light align-self-stretch box p-4 text-center">
            <h3 class="mb-4">Email Address</h3>
            <p><a href="mailto:bil@education.com">bilschool@edu.com</a></p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="bg-light align-self-stretch box p-4 text-center">
            <h3 class="mb-4">Website</h3>
            <p><a href="https://billyfrcs.games/" target="_blank">billyfrcs.games</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
      <div class="row d-flex align-items-stretch no-gutters justify-content-center pb-5">
        <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
          <form class="contact-form" method="post">
            <div class="form-group">
              <input type="text" class="form-control name" placeholder="Your Name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control email" placeholder="Your Email" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="7" class="form-control message" placeholder="Message" required></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
  <script src="~/js/App.js" type="module"></script>
  <script src="~/js/jquery.min.js"></script>
  <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/jquery.easing.1.3.js"></script>
  <script src="~/js/jquery.waypoints.min.js"></script>
  <script src="~/js/jquery.stellar.min.js"></script>
  <script src="~/js/owl.carousel.min.js"></script>
  <script src="~/js/jquery.magnific-popup.min.js"></script>
  <script src="~/js/aos.js"></script>
  <script src="~/js/jquery.animateNumber.min.js"></script>
  <script src="~/js/scrollax.min.js"></script>
  <script src="~/js/main.js"></script>
</body>

</html>