@{
	ViewData["Title"] = "Staff";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">
	<link rel="stylesheet" href="~/css/aos.css">
	<link rel="stylesheet" href="~/css/ionicons.min.css">
	<link rel="stylesheet" href="~/css/flaticon.css">
	<link rel="stylesheet" href="~/css/icomoon.css">
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<h1 class="mb-2 bread">Certified Teacher</h1>
					<p class="breadcrumbs"><span class="mr-2"><a asp-action="Index">Home <i
									class="ion-ios-arrow-forward"></i></a></span> <span>Staff <i
								class="ion-ios-arrow-forward"></i></span></p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container-fluid px-4">
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(/images/teacher-1.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Bianca Wilson</h3>
							<span class="position mb-2">Data Science Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a>
									</li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-linkedin"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(/images/johnny.jpeg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Johnny Sans</h3>
							<span class="position mb-2">GameDev Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a>
									</li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-linkedin"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(/images/teacher-3.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Stella Smith</h3>
							<span class="position mb-2">Mobile Dev Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a>
									</li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-linkedin"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(/images/teacher-4.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Monshe Henderson</h3>
							<span class="position mb-2">Science Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a>
									</li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-linkedin"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(/images/teacher-5.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Jeremmy Stev</h3>
							<span class="position mb-2">WebDev Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a>
									</li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-linkedin"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(/images/teacher-6.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Mitch Parker</h3>
							<span class="position mb-2">English Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a>
									</li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-linkedin"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(/images/teacher-7.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Lilly Hearth</h3>
							<span class="position mb-2">Art Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a>
									</li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-linkedin"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(/images/teacher-8.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Mona Franz</h3>
							<span class="position mb-2">Biology Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a>
									</li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-linkedin"></span></a></li>
									<li class="ftco-animate"><a href="#"><span
												class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>

	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.easing.1.3.js"></script>
	<script src="~/js/jquery.waypoints.min.js"></script>
	<script src="~/js/jquery.stellar.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/aos.js"></script>
	<script src="~/js/jquery.animateNumber.min.js"></script>
	<script src="~/js/scrollax.min.js"></script>
	<script src="~/js/main.js"></script>
</body>

</html>